.container{
    color:white;
    position:relative;
    margin-top:40px ;
    background: linear-gradient(to right, #ebbf60, #5c9fc1);
    border-radius: 13px;
    display: inline-block;
    padding: 13px;
    
}
.titulo{  
/* font-size:xx-large; */
margin-top:-20px;
text-shadow: 3px 3px 8px #e7e5e5;
font-weight: 500;
color: rgb(18, 18, 54);

}
.p{
 font-size:large;
 color: rgb(18, 18, 54);
 font-weight: 400;
}

.containI{
    margin-top: 13px;
    display: flex;
   justify-content: space-around;   
   
}
 
.Ilkd{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.Igith{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.Iinst{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.Imeta{
    width: 50px;
    height: 50px;
    cursor:not-allowed;
}
