/*aqui cambiamos de color (tema) doda la app*/
/* *{
  background: linear-gradient(to right, #ebbf607a, #5c9fc178, #e06c2d7b, #a3d08a7a, #01c580, #f93f5878);
  border-radius: 0px 0px 15% 15%;

} */
.App {
  text-align: center;
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events:none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #343328;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
