.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    scale: 0.5;
}

.label {     
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    color: black;
}
