.pagination{   
          
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    padding: 20px;   

}

.page_number {

    width: 100%;
    max-width: 100px;
    border-style:inset;    
    margin: 1px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
   font-weight: 800;
   text-shadow: 1px 1px 1px white, 0px 1px 3px #fcfc00, 1px 1px 1px white, 1px 1px 1px white, 1px 1px 1px white, 1px 1px 1px white;
   
}
.page_number:hover {
    font-weight: bold;
    font-size: 22px;
    border-style: none;
    
}

.page_number_current {
    
    font-weight:bold;
    font-size: 22px;
    color: #0dfc01;
    background-color: #ff9800;
    
    
}