.mainContainer {

     margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    box-shadow: 10px 10px 14px #000;
    border-radius: 15px;
    border-style:groove;
    background: linear-gradient(to right, #ebbf60, #5c9fc1);
    color:#fff;
    opacity: 0.8;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: 100;
  }
  
  .mainContainer a {
    color: black;
    text-decoration: none;
  }
  
  .mainContainer a:hover {
    color:  #04df33;
    transition: 0.3s;
  }
  /*#ebbf60  #5c9fc1*/
